@mixin info-box-wrapper {
  --info-box-spacing: 16px;
  width: calc(100% - 2 * var(--info-box-spacing));
  padding: var(--info-box-spacing);
}

@mixin info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 4px solid var(--background-modifier-border);
  margin: var(--info-box-spacing);
  color: var(--text-faint);
  text-align: center;
}
