@use './spinner';

// Banner
.obsidian-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--banner-height);
  width: 100%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;

  &.gradient:not(.error) {
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
  }

  &.cm6-banner {
    pointer-events: initial;
    cursor: grab !important;
  }

  .banner-message {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 2px solid var(--background-modifier-border);

    p {
      margin: 6px 8px;
      text-align: center;
      color: var(--text-muted);
    }
  }

  .banner-image {
    position: relative;
    object-fit: cover;
    max-width: none;
    height: 100%;
    width: 100%;

    &.draggable {
      cursor: grab !important;
    }

    &.draggable:active {
      cursor: grabbing !important;
    }
  }

  // Hide loading indicator when image has loaded
  // Hide image upon an error loading it
  &.loaded .banner-message,
  &.error .banner-image {
    display: none;
  }
}


// [Reading View] Banner wrapper (YAML with banner)
.obsidian-banner-wrapper {
  margin-top: calc(var(--banner-height));
  padding-top: 0.5em;
}

// [Live Preview] Spacer for banners
.obsidian-banner-spacer {
  height: calc(var(--banner-height) - 24px);

}

// Banner Icon && Title
.obsidian-banner-header {
  display: flex;
  position: relative;
  font-size: 4em;
  pointer-events: none;
  user-select: none;

  &.h-left {
    justify-content: flex-start;
  }

  &.h-center {
    justify-content: center;
  }

  &.h-right {
    justify-content: flex-start;
  }

  &.title-placement-below-icon {
    flex-direction: column;
    .obsidian-banner-title {
      margin-top: 1rem;
    }
  }

  .icon-box {
    display: inline-flex;
    align-items: center;
    height: calc(1em + 12px);
    min-width: fit-content;
    padding: 6px;
    border-radius: 4px;
    pointer-events: initial;
    transition: ease 0.2s background;

    &:hover {
      background: #aaa3;
      cursor: pointer;
    }
  }

  .obsidian-banner-title {
    display: inline-flex;
    align-items: center;
    pointer-events: initial;
    font-size: 3.5rem !important;
    font-variant: var(--h1-variant);
    font-style: var(--hl-style) !important;
    font-family: var(--hl-font) !important;
    padding-right: 2rem;
  }

  // place title next to icon
  // Twemoji
  img.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.1em;
  }
}

// Internal embeds
.internal-embed .markdown-embed-content .obsidian-banner-wrapper {
  margin-top: var(--banner-internal-embed-height);

  >.obsidian-banner {
    height: var(--banner-internal-embed-height);

    img {
      cursor: initial;
    }
  }
}

// Preview embeds
.popover .markdown-embed-content .obsidian-banner-wrapper {
  margin-top: var(--banner-preview-embed-height);

  >.obsidian-banner {
    height: var(--banner-preview-embed-height);

    img {
      cursor: initial;
    }
  }
}

// [Reading View] Banner + Icon
.obsidian-banner-wrapper.has-banner-header {
  padding-top: 0;

  .obsidian-banner-icon {
    &.v-above {
      margin-top: calc(-1em - 12px);
    }

    &.v-center,
    &.v-custom {
      margin-top: calc(-0.5em - 6px);
    }

    &.v-below {
      padding-top: 0.5rem;
    }
  }
}

// [Live Preview] Banner + Icon
.has-banner .obsidian-banner-icon {
  &.v-above {
    margin-top: calc(-1em - 12px);
  }

  &.v-center,
  &.v-custom {
    margin-top: calc(-0.5em - 6px);
  }

  &.v-below {
    margin: 0.5rem 0;
  }
}

// [Live Preview] Patches for banner placement, YAML fold indicator, & first line spacing
.markdown-source-view.mod-cm6 .cm-line {

  &.has-banner,
  &.has-banner-header {
    position: inherit;

    .cm-fold-indicator {
      position: absolute;
    }
  }

  &.has-banner-header .obsidian-banner-icon,
  &.has-banner:not(.has-banner-header) .obsidian-banner-spacer {
    margin-bottom: 1.5rem;
  }

  @mixin fold-top($top) {
    .cm-fold-indicator {
      top: $top;
    }
  }

  &.has-banner-header:not(.has-banner) {
    @include fold-top(calc(4em + 60px));
  }

  &.has-banner:not(.has-banner-header) {
    @include fold-top(calc(var(--banner-height) + 25px));
  }

  &.has-banner.has-banner-header {
    &[data-icon-v="above"] {
      @include fold-top(calc(var(--banner-height) + 25px));
    }

    &[data-icon-v="center"],
    &[data-icon-v="custom"] {
      @include fold-top(calc(var(--banner-height) + 2em + 31px));
    }

    &[data-icon-v="below"] {
      @include fold-top(calc(var(--banner-height) + 4em + 45px));
    }
  }
}

// Local Image Modal
.banner-local-image-modal {
  .banner-suggestion-item {
    padding: 6px 10px;
  }

  .suggestion-text {
    height: 0;
    margin: 0;
    padding-left: 10px;
  }

  .suggestion-image-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 6px 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
}

// Icon Modal
.banner-icon-modal {
  span.regular-emoji {
    font-size: 1.2em;
    vertical-align: bottom;
  }

  img.emoji {
    margin-right: 0.5em;
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
  }
}

// Settings
.banner-settings {
  .banner-setting-header {
    display: block;
    padding: 6px 0;

    p {
      margin: 0;
      font-size: 1.2em;
    }

    .banner-setting-header-title {
      font-size: 1.3em;
    }

    .banner-setting-header-description {
      margin-top: 2px;
      font-size: 0.7em;
      color: var(--text-muted);
      line-height: 18px;
    }
  }

  .setting-item-control {
    gap: 8px;
  }
}

// Mobile
.is-mobile {
  .has-banner-header {
    margin-top: 20px;
  }

  .obsidian-banner-title {
    font-size: 2.8rem !important;
    padding-right: 0 !important;
  }

  .obsidian-banner-wrapper {
    margin-top: var(--banner-height);
  }

  .obsidian-banner-wrapper:not(.has-banner-header) {
    margin-top: calc(var(--banner-height) + 20px);
  }
}

// PDF Export
@media print {
  .obsidian-banner-wrapper {
    margin-top: 0;

    >.obsidian-banner {
      position: initial;
      margin-bottom: 20px;
    }
  }

  .has-banner-header,
  .has-banner-header .obsidian-banner-icon,
  .obsidian-banner-wrapper.has-banner-header {
    margin-top: 0;
  }

  .obsidian-banner-wrapper.has-banner-header .obsidian-banner-icon {
    position: initial;
  }
}

.hide {
  display: none;
}