.markdown-preview-view.has-banner {
  // Banner element
  .obsidian-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--banner-height);
    width: 100%;
    overflow: hidden;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &.gradient {
      mask-image: linear-gradient(to bottom, black, transparent);
      -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    }

    img {
      position: relative;
      object-fit: cover;
      max-width: none !important;

      &.full-height {
        height: 100%;
      }

      &.full-width {
        width: 100%;
      }
    }
  }

  // Markdown wrapper below the banner
  .markdown-preview-section {
    margin-top: var(--banner-height);
  }
}

// Popover embed
.markdown-embed-content > .markdown-preview-view.has-banner {
  .obsidian-banner {
    height: var(--banner-embed-height);
    cursor: initial;
    pointer-events: none;
  }

  .markdown-preview-section {
    margin-top: var(--banner-embed-height);
  }
}

// Modal suggestions
.banner-suggestion-item {
  padding: 6px 10px;

  .suggestion-text {
    height: 0;
    margin: 0;
    padding-left: 10px;
  }

  .suggestion-image-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 6px 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
}

// Disable banner in embed
body.no-banner-in-embed .markdown-embed-content > .markdown-preview-view.has-banner {
  .obsidian-banner {
    display: none;
  }

  .markdown-preview-section {
    margin-top: 0;
  }
}
