name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          
      - name: Build files
        id: build
        run: |
          npm install
          npm run build --if-present
          
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            ./*
            manifest.json
          fail_on_unmatched_files: |
            ./*
            manifest.json
